@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');

*{
  box-sizing: border-box;
}

body{
  margin:0;
  padding: 0;
  
  font-family: 'Barlow', sans-serif;
  font-size:1rem;
  font-weight:normal;
  line-height:1.5;
  color:#333;
  overflow-x:hidden;
}
#loader{
 height: 1500px;
 width: 1500px;
 background-color: #5BB9FD;
 position:fixed;
 top:50%;
 left: 50%;
 transform: translate(-50%,-50%);
 z-index: 999;
}

#loader img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.v-header{
  background:url("gallery/teamphotos/Tata here.JPG");
  height:90vh;
  display:flex;
  align-items:center;
  color:#fff;
}


.container{
  max-width:960px;
  padding-left:1rem;
  padding-right:1rem;
  margin:auto;
  text-align:center;
}

.fullscreen-video-wrap{
 background: black;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:auto;
  overflow:hidden;
}

.fullscreen-video-wrap video{
 height:90vh;
  max-width: -webkit-fill-available
}

.header-overlay{
  
  position: absolute;
  top:0;
  left:0;
  width:100vw;
  z-index:1;
  opacity:0.85;
}

.header-content{
  z-index:2;
}

.header-content h1{
  font-size:50px;
  margin-bottom:0;
}

.header-content p{
  font-size:1.5rem;
  display:block;
  padding-bottom:2rem;
}



.section{
  padding:20px 0;
}

.section-b{
  background:#333;
  color:#fff;
}


.navbar{
background: transparent !important;
transition: 0.11s;
}
.navbar.scrolled{
  background:#000 !important;
    transition:0.11s;
}
.navbar-light .navbar-nav .active>.nav-link,.navbar-light .navbar-nav .nav-link.active,.navbar-light .navbar-nav .nav-link                        .navbar-light .navbar-nav{
  color:#000;
  background:#fff ;
}
.navbar-light .navbar-nav .active>.nav-link:hover{
  color:#000;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(255,255,255,.8);
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus{
color:rgba(255,255,255,1);
}
.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus,.navbar-light .navbar-brand:visited
{
  color:rgba(255,255,255,1);
  font-size: 2.5rem;
  font-weight:600;
  }


ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

  
footer{
  background:#000;
  padding:50px 0 0;
}

.sci{
  margin:0;
  padding:0;
  display:flex;
  justify-content: center;
  align-items:center;
}
.sci li{
  list-style: none;
  margin:0 20px;
}
.sci li a{
  color:#777;
  font-size: 2em;
  transition:.5s;
}


.sci li a:hover{
  color: #fff;
}

@media(min-width: 992px){
.navbar-expand-lg .navbar-nav .nav-link{
   padding-right: 1rem;
   padding-left: 1rem;
  }

}

@media(max-width:992px){
  .collapse{
    background: #000;
  }
  .container{
    padding-right:3rem;
    padding-left:3rem;
  }
  .navbar-light .navbar-toggler{
    background:#fff;
    border-radius:0;
  }

  .header-content{
    font-size: 2rem;
  }
  body{
    font-family: 'Barlow';
  }
}
.firstsection{
    min-height: 500px;
background: url('../gallery/planes/oa11.jpg'); 
background-size: cover; 
background-position: center center;
background-repeat: no-repeat;
  }

  .nav-item:hover{
    text-decoration: underline;
  }